<div class="nav-side">
    <div class="toggle-btn">
        <svg t="1667549436060" class="liebiao" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3459" width="35" height="24"><path d="M849.1 128 174.9 128c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 149 875 128 849.1 128z" p-id="3460"></path><path d="M849.1 768 174.9 768c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 789 875 768 849.1 768z" p-id="3461"></path><path d="M849.1 448 174.9 448c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 469 875 448 849.1 448z" p-id="3462"></path></svg>
    </div>
    <div class="icon">
        <img src="../img/浙工大校徽.jpg" class="school-badge"/>
        <img src="../img/校名.jpg" class="school-name">
    </div>
    <div class="group-name">
        <a href="../index.html">
            网络空间安全研究院无人系统组
        </a>
    </div>
    <div class="menu-list hide">
        <ul class="menu-content">
            <li class="nav-item">
                <a href="/people.html">
                    <svg class="iconfont" aria-hidden="true">
                        <use xlink:href="#icon-banjichengyuan"></use>
                    </svg>
                    小组成员
                </a>
            </li>
            <li class="nav-item">
                <a href="/research.html">
                    <svg class="iconfont" aria-hidden="true">
                        <use xlink:href="#icon-yanjiuchuangxinnengli"></use>
                    </svg>
                    研究
                </a>
            </li>
            <li class="nav-item">
                <a>
                    <svg class="iconfont" aria-hidden="true">
                        <use xlink:href="#icon-shuji"></use>
                    </svg>
                    发表论文
                </a>
            </li>
            <li class="nav-item">
                <a>
                    <svg class="iconfont" aria-hidden="true">
                        <use xlink:href="#icon-youjian"></use>
                    </svg>
                    联系我们
                </a>
            </li>
            <li class="nav-item">
                <a>
                    <svg class="iconfont" aria-hidden="true">
                        <use xlink:href="#icon-guanyu"></use>
                    </svg>
                    关于
                </a>
            </li>
        </ul>
    </div>
</div>
